<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.foodella.driver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <activity
            android:name=".features.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".features.onBoarding.OnBoardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".features.login.LoginActivity" />
        <activity android:name=".features.notifacation.NotificationsActivity" />
        <activity android:name=".features.addService.AddServiceActivity" />
        <activity android:name=".features.privacyPolicy.PrivacyPolicyActivity" />
        <activity android:name=".features.termsOfUse.TermsOfUseActivity" />
        <activity android:name=".features.newMessage.NewMessageActivity" />
        <activity android:name=".features.messageDetails.MessageDetailsActivity" />
        <activity android:name=".features.messages.MessagesActivity" />
        <activity android:name=".features.paymentMethods.PaymentMethodsActivity" />
        <activity android:name=".features.chatDetails.ConversationActivity" />
        <activity android:name=".features.orderDetails.OrderDetailsActivity" />
        <activity android:name=".features.paymentDetails.PaymentDetailsActivity" />
        <activity android:name=".features.main.MainActivity" />
        <activity android:name=".features.profile.ProfileActivity" />
        <activity android:name=".features.addCar.AddCarActivity" />
        <activity android:name=".features.contactUs.ContactUsActivity" />
        <activity android:name=".features.aboutApp.AboutAppActivity" />
        <activity android:name=".features.editProfile.EditProfileActivity" />

    </application>

</manifest>